/*
1em=16px (Titulares)
1.5em=24px (Parágrafos)
2em=32px (Interlineados)
*/

body {
  font-size: 1em;
}

p {
  font-size: 24px;
  line-height: 32px;
  text-align: justify;
}

img {
  width: 100px;
}

div {
  width: 800px;
  margin: 0 auto;
}

h2 {
  font-family: Georgia, Times;
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'McLaren', cursive;
}

.izquierda {
  float: left;
  margin-right: 20px;
}
.derecha {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
}

.capitular {
  float: left;
  margin-right: 20px;
  width: 50px;
}

.inicial::first-letter {
  color: #FFF;
}

.inicial {
  text-indent: -16px;
}

.c1 {
  width: 390px;
  float: left;
}

.c2 {
  width: 390px;
  float: right;
}
